<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置调度程序quartz ，其中配置JobDetail有两种方式 -->

    <!--方式一：使用JobDetailFactoryBean，任务类必须实现Job接口 -->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.study.fangfa1.SpringQtz"></property>
        <property name="durability" value="true"></property>
        <property name="jobDataAsMap">
        <map>
            <entry key="service"><value>simple is the beat</value></entry>
        </map>
        </property>
    </bean>

    <!--<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        &lt;!&ndash;指定触发器关联的作业&ndash;&gt;
        <property name="jobDetail" ref="jobDetail" />
        &lt;!&ndash;延迟3s&ndash;&gt;
        <property name="startDelay" value="3000" />
        &lt;!&ndash;每两秒执行一次&ndash;&gt;
        <property name="repeatInterval" value="2000" />
    </bean>-->

    <!-- ======================== 调度触发器 ======================== -->
    <bean id="cronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"></property>
        <property name="cronExpression" value="0/5 * * * * ?"></property>
    </bean>


    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
    <bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!-- 管理trigger -->
        <property name="triggers">
            <list>
                <ref bean="cronTriggerBean" />
            </list>
        </property>
    </bean>
</beans>