<component name="ArtifactManager">
  <artifact type="war" name="springboot-controller:war">
    <output-path>$PROJECT_DIR$/springboot-controller/target</output-path>
    <root id="archive" name="springboot-controller-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-controller:war exploded" />
    </root>
  </artifact>
</component>